html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    --mat-toolbar-container-background-color: #094a64;
    --mat-toolbar-container-text-color: white;
    --mat-icon-color: white;
}

.mat-column-courseId {
  max-width: 120px;
}

.mat-column-rosters {
    max-width: 120px;
}