<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Toggle navigation">menu</mat-icon>
    </button>
    <span>Home</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">    <mat-sidenav #drawer class="sidenav" mode="over" [opened]="false">
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a mat-list-item routerLink="/students" routerLinkActive="active">Students</a>
            <a mat-list-item routerLink="/staff" routerLinkActive="active">Staff</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>